body {
  padding-top: 75px;
  padding-bottom: 75px;
}
label {
  font-weight: bold;
}
a,
a:hover {
  text-decoration: none;
}
h3 {
  text-align: center;
}
.container {
  padding: 10px;
  margin: 5%;
}
.item-right {
  right: 0;
}
.absolute-right {
  right: 0;
}
.front {
  z-index: 10;
}
